@import "tailwindcss";

@theme {
  --color-jungle-green: rgb(25, 135, 84);
  --color-light-gray: rgb(200, 200, 200);
}

.tracking-page {
  @apply max-w-212.5 mt-22.5 mb-25 px-7.5 mx-auto;

  .back-to-orders-link {
    @apply inline-block mb-8;
  }

  .delivery-date {
    @apply text-[25px] font-bold mb-2.5;
  }

  .product-info {
    @apply mb-0.75;
  }

  .product-image {
    @apply max-w-37.5 max-h-37.5 mt-6.25 mb-12.5;
  }

  .progress-label {
    @media (max-width: 450px) {
        @apply mb-0.75;
    }
  }

  .progress-labels-container {
    @apply flex justify-between text-[20px] font-medium mb-3.75;

    @media (max-width: 575px) {
      @apply text-[16px];
    }

    @media (max-width: 450px) {
        @apply flex-col mb-1.25;
    }
  }

  .current-status {
    @apply text-jungle-green;
  }

  .progress-bar-container {
    @apply h-6.25 w-full border border-light-gray rounded-[50px] overflow-hidden;
  }

  .progress-bar {
    @apply h-full w-1/2 bg-jungle-green rounded-[50px];
  }
}