@import "tailwindcss";

@theme {
  --color-jungle-green: rgb(25, 135, 84);
  --color-light-gray: rgb(200, 200, 200);

  --breakpoint-xs: 450px;
  --breakpoint-sm-custom: 575px;
}

.tracking-page {
  @apply max-w-212.5 mt-22.5 mb-25 px-7.5 mx-auto;

  .back-to-orders-link {
    @apply inline-block mb-8;
  }

  .delivery-date {
    @apply text-[25px] font-bold mb-2.5;
  }

  .product-info {
    @apply mb-0.75;
  }

  .product-image {
    @apply max-w-37.5 max-h-37.5 mt-6.25 mb-12.5;
  }

  .progress-label {
    @apply max-xs:mb-0.75;
  }

  .progress-labels-container {
    @apply flex justify-between text-[20px] font-medium mb-3.75;
    @apply max-sm-custom:text-[16px];
    @apply max-xs:flex-col max-xs:mb-1.25;
  }

  .current-status {
    @apply text-jungle-green;
  }

  .progress-bar-container {
    @apply h-6.25 w-full border border-light-gray rounded-full overflow-hidden;
  }

  .progress-bar {
    @apply h-full w-1/2 bg-jungle-green rounded-full;
  }
}