@import "tailwindcss";

@theme {
  --color-jungle-green: rgb(25, 135, 84);

  --breakpoint-md-max: 1000px;
  --breakpoint-sm-custom: 575px;
}

.checkout-header {
  @apply h-15 px-7.5 bg-white flex justify-center fixed top-0 left-0 right-0 z-1000;
}

.checkout-header .header-content {
  @apply w-full max-w-275 flex items-center;
}

.checkout-header .checkout-header-left-section {
  @apply w-50;
  @apply max-sm-custom:w-auto;
}

.checkout-header .logo {
  @apply h-6.5 mt-0;
  @apply max-sm-custom:hidden;
}

.checkout-header .mobile-logo {
  @apply hidden;
  @apply max-sm-custom:inline-block max-sm-custom:h-6.5;
}

.checkout-header .checkout-header-middle-section {
  @apply flex-1 shrink-0 text-center text-[22px] font-medium flex justify-center;
  
  @apply max-md-max:text-[20px] max-md-max:mr-15;
  @apply max-sm-custom:mr-1.25;
}

.checkout-header .return-to-home-link {
  @apply text-jungle-green no-underline cursor-pointer;
  
  @apply max-md-max:text-[20px];
}

.checkout-header .checkout-header-right-section {
  @apply w-50 flex items-center justify-end text-right;
  
  @apply max-md-max:w-auto;

  img {
    @apply h-8;
  }
}