@import "tailwindcss";

@theme {
  --color-jungle-green: rgb(25, 135, 84);
  --color-border-gray: rgb(222, 222, 222);
  --color-text-gray: rgb(120, 120, 120);

  --breakpoint-md-max: 1000px;
}

.checkout-page {
  @apply max-w-275 px-7.5 mt-35 mb-25 mx-auto;

  .page-title {
    @apply font-bold text-[22px] mb-4.5;
  }

  .checkout-grid {
    @apply grid grid-cols-[1fr_350px] gap-x-3 items-start;
    @apply max-md-max:grid-cols-1;
  }

  .main {
    @apply max-md-max:max-w-125;
  }

  .cart-item-container,
  .payment-summary {
    @apply border border-border-gray rounded-sm p-4.5;
  }

  .cart-item-container {
    @apply mb-3;
  }

  .payment-summary {
    @apply pb-1.25;

    @apply max-md-max:row-start-1 max-md-max:mb-3;
  }

  .delivery-date {
    @apply text-jungle-green font-bold text-[19px] mt-1.25 mb-5.5;
  }

  .cart-item-details-grid {
    @apply grid grid-cols-[100px_1fr_1fr] gap-x-6.25;

    @apply max-md-max:grid-cols-[100px_1fr] max-md-max:gap-y-7.5;
  }

  .product-image {
    @apply max-w-full max-h-30 mx-auto;
  }

  .product-name {
    @apply font-bold mb-2;
  }

  .product-price {
    @apply font-bold mb-1.25;
  }

  .product-quantity {
    .link-primary {
      @apply ml-0.75;
    }
  }

  .quantity-textbox {
    @apply w-12.5;
  }

  .delivery-options {
    @apply max-md-max:col-span-2;
  }

  .delivery-options-title {
    @apply font-bold mb-2.5;
  }

  .delivery-option {
    @apply grid grid-cols-[24px_1fr] mb-3 cursor-pointer;
  }

  .delivery-option-input {
    @apply mt-0.75 mr-1.25 mb-0 ml-0 cursor-pointer;
  }

  .delivery-option-date {
    @apply font-medium mb-0.75;
  }

  .delivery-option-price {
    @apply text-text-gray text-[15px];
  }

  .payment-summary-title {
    @apply font-bold text-[18px] mb-3;
  }

  .payment-summary-row {
    @apply grid grid-cols-[1fr_auto] text-[15px] mb-2.25;
  }

  .payment-summary-money {
    @apply text-right;
  }

  .subtotal-row {
    .payment-summary-money {
      @apply border-t border-border-gray;
    }

    div {
      @apply pt-2.25;
    }
  }

  .total-row {
    @apply text-jungle-green font-bold text-[18px] border-t border-border-gray pt-4.5;
  }

  .place-order-button {
    @apply w-full py-3 rounded-[5px] mt-5 mb-4.75;
  }
}