@import "tailwindcss";

@theme {
  --color-jungle-green: rgb(25, 135, 84);
  --color-product-border: rgb(240, 240, 240);

  --breakpoint-2xl-max: 2000px;
  --breakpoint-xl-max: 1600px;
  --breakpoint-lg-max: 1300px;
  --breakpoint-md-max: 1000px;
  --breakpoint-tablet: 800px;
  --breakpoint-sm-custom: 575px;
  --breakpoint-xs: 450px;
}

.home-page {
  @apply mt-15;

  .products-grid {
    @apply grid grid-cols-8;
    @apply max-2xl-max:grid-cols-7;
    @apply max-xl-max:grid-cols-6;
    @apply max-lg-max:grid-cols-5;
    @apply max-md-max:grid-cols-4;
    @apply max-tablet:grid-cols-3;
    @apply max-sm-custom:grid-cols-2;
    @apply max-xs:grid-cols-1;
  }

  .product-container {
    @apply pt-10 pb-6.25 px-6.25 border-r border-b border-product-border flex flex-col;
  }

  .product-image-container {
    @apply flex justify-center items-center h-45 mb-5;
  }

  .product-image {
    @apply max-w-full max-h-full rounded-[5px];
  }

  .product-name {
    @apply h-10 mb-0;
  }

  .product-rating-container {
    @apply flex items-center mb-2.5;
  }

  .product-rating-stars {
    @apply w-25 mr-1.5;
  }

  .product-rating-count {
    @apply text-jungle-green cursor-auto mt-0.75;
  }

  .product-price {
    @apply font-bold mb-2.5;
  }

  .product-quantity-container {
    @apply mb-4.25;
  }

  .product-spacer {
    @apply flex-1;
  }

  .added-to-cart {
    @apply text-jungle-green text-[16px] flex items-center mb-2 opacity-0;
    
    img {
      @apply h-4.75 mr-1.5;
    }
  }

  .add-to-cart-button {
    @apply w-full p-1 h-8.5 mt-px text-center;
  }
}