@import "tailwindcss";

@theme {
  --color-border-light: rgb(222, 222, 222);
  
  --breakpoint-tablet: 800px;
  --breakpoint-sm-custom: 575px;
  --breakpoint-xs: 450px;
}

.orders-page {
  @apply max-w-212.5 mt-22.5 mb-25 px-5 mx-auto;

  .page-title {
    @apply font-bold text-[26px] mb-6.25;
  }

  .orders-grid {
    @apply grid grid-cols-1 gap-y-12.5;
  }

  .order-header {
    @apply bg-white border border-border-light flex items-center justify-between p-5 px-6.25 rounded-t-[5px];
    @apply max-sm-custom:flex-col max-sm-custom:items-start max-sm-custom:leading-5.75 max-sm-custom:p-3.75;
  }

  .order-header-left-section {
    @apply flex shrink-0;
    @apply max-sm-custom:flex-col;
  }

  .order-header-label {
    @apply font-bold;
    @apply max-sm-custom:mr-1.25;
  }

  .order-date, .order-total {
    @apply mr-11.25;
    @apply max-sm-custom:grid max-sm-custom:grid-cols-[auto_1fr] max-sm-custom:mr-0;
  }

  .order-header-right-section {
    @apply shrink;
    @apply max-sm-custom:grid max-sm-custom:grid-cols-[auto_1fr];
  }

  .order-details-grid {
    @apply p-10 px-6.25 border border-border-light border-t-0 rounded-b-[5px];
    @apply grid grid-cols-[110px_1fr_220px] gap-x-8.75 gap-y-15 items-center;
    @apply max-tablet:grid-cols-[110px_1fr] max-tablet:gap-y-0 max-tablet:pb-2;
    @apply max-xs:grid-cols-1;
  }

  .product-image-container {
    @apply text-center;
    @apply max-xs:mb-6.25;

    img {
      @apply max-w-27.5 max-h-27.5;
      @apply max-xs:max-w-37.5 max-xs:max-h-37.5;
    }
  }

  .product-name {
    @apply font-bold mb-1.25;
    @apply max-xs:mb-2.5;
  }

  .product-delivery-date {
    @apply mb-0.75;
  }

  .product-quantity {
    @apply mb-2;
    @apply max-xs:mb-3.75;
  }

  .buy-again-button {
    @apply text-[14px] w-35 h-9 rounded-[5px] flex items-center justify-center;
    @apply max-tablet:mb-2.5;
    @apply max-xs:w-full max-xs:mb-3.75;
  }

  .buy-again-icon {
    @apply w-5 mr-2.5;
  }

  .product-actions {
    @apply self-start;
    @apply max-tablet:col-start-2 max-tablet:mb-7.5;
    @apply max-xs:col-auto max-xs:mb-17.5;
  }

  .track-package-button {
    @apply w-full text-[14px] p-2;
    @apply max-tablet:w-35;
    @apply max-xs:w-full max-xs:p-3;
  }
}