@import "tailwindcss";

@theme {
  --color-dark-green: rgb(8, 79, 45);
  --color-mint-green: rgb(186, 255, 190);

  --breakpoint-tablet: 800px;
  --breakpoint-mobile-lg: 675px;
}

.header {
  @apply bg-dark-green text-white py-3.75;
  @apply flex items-center justify-between;
  @apply fixed top-0 left-0 right-0 h-15;

  .left-section {
    @apply w-52 ml-4;
    @apply max-tablet:w-auto;
  }

  .header-link {
    @apply inline-block px-[9.5px] py-1.5 rounded-xs no-underline;
    @apply cursor-pointer border border-transparent;

    &:hover{
      @apply border-white;
    }
  }

  .logo {
    @apply h-6.5 mt-px;
    @apply max-mobile-lg:hidden;
  }

  .mobile-logo {
    @apply hidden;
    @apply max-mobile-lg:block max-mobile-lg:h-6.5 max-mobile-lg:mt-px;
  }

  .middle-section {
    @apply flex flex-1 max-w-212.5 mx-2.5;
  }

  .search-bar {
    @apply bg-white text-black flex-1 w-0 text-[16px] h-9.5 pl-3.75 border-none rounded-l-[5px] rounded-r-none;
  }

  .search-button {
    @apply bg-mint-green border-none w-11.25 h-9.5 rounded-r-[5px] shrink-0;
  }

  .search-icon {
    @apply h-5 m-auto;
  }

  .right-section {
    @apply w-45 shrink-0 flex justify-end;
  }

  .orders-link {
    @apply text-white flex items-center px-3.25;
  }

  .orders-link.active {
    @apply underline;
  }

  .orders-text {
    @apply block text-[15px] font-bold;
  }

  .cart-link {
    @apply text-white flex items-center relative mr-3;
  }

  .cart-icon {
    @apply w-9.5;
  }

  .cart-text {
    @apply ml-1.25 text-[15px] font-bold;
  }

  .cart-quantity {
    @apply text-dark-green text-[14px] font-bold absolute top-1.75 right-11.75 w-6.5 text-center;
  }
}